@font-face {
  font-family: 'Lato';
  font-style: 'normal';
  font-weight: 400;
  src: url('./Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: 'normal';
  font-weight: 700;
  src: url('./Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: 'normal';
  font-weight: 300;
  src: url('./Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: 'italic';
  font-weight: 400;
  src: url('./Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: 'italic';
  font-weight: 700;
  src: url('./Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: 'italic';
  font-weight: 300;
  src: url('./Lato-Light.ttf');
}
